// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@angular/material/theming";
@include mat-core();
$primary-color: (
  900: #004bad,
  contrast: (
    900: white,
  ),
);

$my-app-primary: mat-palette($primary-color, 900);
$my-app-accent: mat-palette($mat-grey, 100);
$my-app-warn: mat-palette($mat-red, 700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label {color: black};
table {
  width: 100%;
}

.table-container {
  position: relative;
  min-height: 400px;
  max-height: 500px;
  overflow: auto;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 10000;
}

// .mat-table {
//   background: transparent;
// }

// .mat-header-cell {
//   color: #333;
// }

// .mat-cell, .mat-footer-cell {
//   color: #000;
// }

// th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
//   padding: 0;
//   border-bottom-width: 1px;
//   border-bottom-style: solid;
//   border-bottom-color: black;
//   color: black;

// }


