<h3>{{pageTitle}}</h3>
<hr>

<div class="row mt-3 text-center" style="padding-top: 50px;">
  <div class="col-md-6 col-xl-3" style="border-right: #f4f8f9 solid 15px; background-color: white">
      <div class="card-box tilebox-two">
          <h4 class="text-muted text-uppercase" style="padding-top: 20px">Cursos</h4>
          <h3 class="my-3" runat="server" id="courses">{{countCourse}}</h3>
      </div>
  </div>
  <div class="col-md-6 col-xl-3" style="border-right: #f4f8f9 solid 15px; background-color: white">
      <div class="card-box tilebox-two">
          <h4 class="text-muted text-uppercase mt-1" style="padding-top: 20px">Disciplinas</h4>
          <h3 class="my-3" runat="server" id="subjects">{{countSubjects}}</h3>
      </div>
  </div>
  <div class="col-md-6 col-xl-3" style="border-right: #f4f8f9 solid 15px; background-color: white">
      <div class="card-box tilebox-two">
          <h4 class="text-muted text-uppercase mt-1" style="padding-top: 20px">Professores</h4>
          <h3 class="my-3" runat="server" id="teacher">{{countTeacher}}</h3>
      </div>
  </div>
  <div class="col-md-6 col-xl-3" style="border-right: #f4f8f9 solid 15px; background-color: white">
      <div class="card-box tilebox-two">
          <h4 class="text-muted text-uppercase mt-1" style="padding-top: 20px">Alunos</h4>
          <h3 class="my-3" runat="server" id="student">{{countStudent}}</h3>
      </div>
  </div>
</div>
